html, body {
	height: 100%;
}

div.container {
	height: 100%;
}

div.wrapper {
	min-height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}



footer, .push {
	height: 100px; /* '.push' must be the same height as 'footer' */
}

body {
	background-color: OldLace;
	font-family: "courier","sans-serif";
}

h1 {
	color: grey;
	font-family: "courier","sans-serif";
}

h2 {
	color: grey;
	font-family: "courier","sans-serif";
}

h3 {
	color: grey;
	font-family: "courier","sans-serif";
}

td {
	font-family: "courier","sans-serif";
	font-size: 12px;
	vertical-align: top;
	/*border: 1px solid black;*/
}

#logo{
    width: 75px;
    float: right;
    padding-right: 20px;
}

.header {
	
}

td {
	white-space: nowrap;
}

img.resultindicator {
	width:15px;
	padding: 0px;
	margin: 0px;
	border-width: 0px;
}

a.resultindicator {
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-decoration:none;
}

div#errorpopup{
	padding: 1px;
	margin: 1px;
	width: 80%;
	left: 10%;
    position: absolute;
    display:none;
    z-index: 1;
	border: 1px;
	border-left: 5px;
	border-left-style: solid;
	border-left-color: red;
	background-color: pink;
	text-align:center;
}

div.subjectsarea {
	background-color: red;
	width: 100%;
	height: 30px;
}

div.infobox {
	background-color: white;
	width: 600px;
	height: 100px;
	
	background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
	background-color: #EBEBEB;
	background-repeat: repeat;
	padding: 5px;
	border: 1px;
	border-left: 5px;
	border-left-style: solid;
	border-left-color: grey;
	
	/* float: left; */
	display: box;
	/* position: absolute; */
}

div.subjectbox {
	background-color: white;
	width: 50px;
	height: 50px;
	float: left;
	display: box;
	/* position: absolute; */
}

a:link {
	display: box;
    color: grey;
	font-family: "courier","sans-serif";
	text-decoration: none;
}

/* visited link */
a:visited {
	display: box;
    color: grey;
	font-family: "courier","sans-serif";
}

/* mouse over link */
a:hover {
	display: box;
    color: black;
	font-family: "courier","sans-serif";
	font-weight: bold;
}

/* selected link */
a:active {
	display: box;
    color: grey;
	font-family: "courier","sans-serif";
}