#logo{
    width: 50px;
    float: right;
    padding-right: 20px;
}

.header {
	
}

div.subjectsarea {
	background-color: red;
	width: 100%;
	height: 30px;
}

div.subjectbox {
	background-color: white;
	width: 50px;
	height: 50px;
	float: left;
	display: box;
	/* position: absolute; */
}