table{
	background-color: white;
	color: gray;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 0.875em; /* 14px/16=0.875em */
	/*width: 100%;*/
	height: 50px;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: solid;
}

table.testlights{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	border-color: blue;
	border-width: 0px;
	background-color: red;
}

td.testlights{
	width:75px;
	minwidth:75px;
	height:100%;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	background-color: red;
}

th.fullheader {
	text-align: left;
}

td.verified {
	border-color: blue;
	width=10%;
	background-color: lightgreen;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

td.failed {
	width=10%;
	background-color: pink;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

td.missing{
	width=10%;
	background-color: white;
	margin-width: 0px;
	padding-width: 0px;
	border-width: 0px;
}

tr.verfied{
	background-color: lightgreen;
	display:table-row;
}

tr.failed{
	background-color: pink;
	display:table-row;
}

tr.unstable{
	background-color: yellow;
	display:table-row;
}

td.text {
	text-align: left;
}

td.numeric {
	text-align: right;
	min-width: 50px;
	width: 100px;
}

/* MAINSTAT */
table.mainstat{
	width: 0px;
}

table.mainstat td{
	width: 30px;
}

table.mainstat colgroup {
	
}

table.mainstat colgroup.rowheader {
	
}

/* RUNSTAT */
table.runstat{
	width: 0px;
}

table.runstat td{
	width: 30px;
}

table.runstat colgroup {
}

table.runstat colgroup.rowheader {
}

/* HEADER */
td.headerright {
	text-align: right;
}

/* JOBSTAT */
table.jobstat{
	width: 100%;
}

table.jobstat td{
	/*width: 30px;*/
}

table.jobstat colgroup {
	
}

table.jobstat colgroup.rowheader {
	
}