table{
	background-color: white;
	color: gray;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 0.875em; /* 14px/16=0.875em */
	width: 100%;
	height: 50px;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: solid;
}

tr.verified {
	background-color : lightgreen;
}

tr.failed {
	background-color : pink;
}

tr.unstable {
	background-color : yellow;
}

tr.succeeded_in_succeeded{
	background-color: lightgreen;
}

tr.notsucceeded_in_succeeded{
	background-color: pink;
}

tr.failed_in_failed{
	background-color: lightgreen;
}

tr.notfailed_in_failed{
	background-color: pink;
}

tr.unstable_in_unstable{
	background-color: lightgreen;
}

tr.notunstable_in_unstable{
	background-color: pink;
}