<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Index</h1>
        <div>
            <p>Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
            </p>
        </div>
        <div>
            <p>Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
            </p>
        </div>
    </body>
</html>