<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title th:text="'Tests started: ' + ${stats.today.starts}">Index</title>
    <script type="text/javascript" th:src="@{/script/stats.js}"></script>
    <script type="text/javascript" th:src="@{/script/fails.js}"></script>
    <script type="text/javascript" th:src="@{/script/unstable.js}"></script>
    <script type="text/javascript" th:src="@{/script/jobs.js}"></script>
</head>
<body>
<h1 layout:fragment="header">SVT Test summary page</h1>
<div layout:fragment="content">
	<div id="meta">
		<input id="jobkey" type="hidden" th:value="${jobkey}"/>
	</div>
	
    	<table><tr><td>
		</td><td>
		<h2>Runs</h2>
		<section id="mainstat">
        <table class="runstat">
        	<colgroup class="rowheader"><col/></colgroup>
            <colgroup><col/><col/><col/><col/></colgroup>
            <tbody>
            <th>
                <td class="text">Started</td>
                <td class="text">Completed</td>
                <td colspan="2" class="text">Failed</td>
            </th>
            <tr>
                <td class="rowheader">Today:</td>
                <td id="stats-today-starts" class="numeric" th:text="${stats.today.starts}">500</td>
                <td id="stats-today-complete" class="numeric" th:text="${stats.today.completeWithMissing}">500</td>
                <td id="stats-today-fails" class="numeric" th:text="${stats.today.fails}">500</td>
                <td id="stats-total-failshare" class="numeric" th:text="${stats.today.failShare}">500</td>
            </tr>
            <tr>
                <td class="rowheader">Last 24 hours:</td>
                <td id="stats-last24Hours-starts" class="numeric" th:text="${stats.last24Hours.starts}">500</td>
                <td id="stats-last24Hours-complete"  class="numeric" th:text="${stats.last24Hours.completeWithMissing}">500</td>
                <td id="stats-last24Hours-fails"  class="numeric" th:text="${stats.last24Hours.fails}">500</td>
                <td id="stats-last24Hours-failshare" class="numeric" th:text="${stats.last24Hours.failShare}">500</td>
            </tr>
            <tr>
                <td class="rowheader">Last Hour:</td>
                <td id="stats-lastHour-starts"  class="numeric" th:text="${stats.lastHour.starts}">500</td>
                <td id="stats-lastHour-complete" class="numeric" th:text="${stats.lastHour.completeWithMissing}">500</td>
                <td id="stats-lastHour-fails" class="numeric" th:text="${stats.lastHour.fails}">500</td>
                <td id="stats-lastHour-failshare" class="numeric" th:text="${stats.lastHour.failShare}">500</td>
            </tr>
            <tr>
                <td class="rowheader">Last Week:</td>
                <td id="stats-lastWeek-starts" class="numeric" th:text="${stats.lastWeek.starts}">500</td>
                <td id="stats-lastWeek-complete" class="numeric" th:text="${stats.lastWeek.completeWithMissing}">500</td>
                <td id="stats-lastWeek-fails" class="numeric" th:text="${stats.lastWeek.fails}">500</td>
                <td id="stats-lastWeek-failshare" class="numeric" th:text="${stats.lastWeek.failShare}">500</td>
            </tr>
            <tr>
                <td class="rowheader">Since startup:</td>
                <td id="stats-total-starts" class="numeric" th:text="${stats.total.starts}">500</td>
                <td id="stats-total-complete" class="numeric" th:text="${stats.total.completeWithMissing}">500</td>
                <td id="stats-total-fails" class="numeric" th:text="${stats.total.fails}">500</td>
                <td id="stats-total-failshare" class="numeric" th:text="${stats.total.failShare}">500</td>
            </tr>

            <th:block th:each="hourly : ${stats.hourly}">
                <tr >
                    <td th:id="${hourly.caption} + '-header'" class="rowheader" th:text="${hourly.caption}"></td>
                    <td th:id="${hourly.caption} + '-starts'"  class="numeric" th:text="${hourly.startsWithoutSkipped}"></td>
                    <td th:id="${hourly.caption} + '-complete'" class="numeric" th:text="${hourly.completeWithoutSkipped}"></td>
                    <td th:id="${hourly.caption} + '-fails'" class="numeric" th:text="${hourly.fails}"></td>
                    <td th:id="${hourly.caption} + '-failshare'" class="numeric" th:text="${hourly.failShare}"></td>
                </tr>
            </th:block>

            </tbody>

        </table></section>
		</td>
		<td>
			<h2>Oldest Fails</h2>
			<section id="fails-summary-section">
			</section>
			<h2>Most unstable</h2>
			<section id="unstable-summary-section">
			</section>
		</td>
		<td>
			<h2>Jenkins</h2>
			<section id="jobs-summary-section">
			</section>
		</td>
		</tr>
		</table>
</div>
</body>
</html>