<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title th:text="${numberOfTests}">Index</title>
</head>
<body>
<h1 layout:fragment="header">SVT Test summary page</h1>
<div layout:fragment="content">

    <section>
        <style>
            table { border-collapse: collapse; border: solid thick; }
            colgroup, tbody { border: solid medium; }
            td { border: solid thin; height: 1.4em; width: 20em; text-align: center; padding: 0; }
        </style>

        <h1>Today's testing</h1>
        <table>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>

            <tbody>
            <th>
                <td>STARTED</td>
                <td>COMPLETED</td>
                <td>FAILED</td>
            </th>
            <tr>
                <td>Today:</td>
                <td th:text="${numberOfTestsToday}">500</td>
                <td th:text="${numberOfCompletedTestsToday}">500</td>
                <td th:text="${numberOfFailedTestsToday}">500</td>
            </tr>
            <tr>
                <td>Last 24 hours:</td>
                <td th:text="${numberOfTestsLast24Hours}">500</td>
                <td th:text="${numberOfCompletedTestsLast24Hours}">500</td>
                <td th:text="${numberOfFailedTestsLast24Hours}">500</td>
            </tr>
            <tr>
                <td>Last Hour:</td>
                <td th:text="${numberOfTestsLastHour}">500</td>
                <td th:text="${numberOfCompletedTestsLastHour}">500</td>
                <td th:text="${numberOfFailedTestsLastHour}">500</td>
            </tr>
            <tr>
                <td>Last Week:</td>
                <td th:text="${numberOfTestsLastWeek}">500</td>
                <td th:text="${numberOfCompletedTestsLastWeek}">500</td>
                <td th:text="${numberOfFailedTestsLastWeek}">500</td>
            </tr>
            <tr>
                <td>Since startup:</td>
                <td th:text="${numberOfTests}">500</td>
                <td th:text="${numberOfCompletedTests}">500</td>
                <td th:text="${numberOfFailedTests}">500</td>
            </tr>
            </tbody>
        </table>
    </section>

    <section>
        <style>
            table { border-collapse: collapse; border: solid thick; }
            colgroup, tbody { border: solid medium; }
            td { border: solid thin; height: 1.4em; width: 20em; text-align: center; padding: 0; }
        </style>

        <h1>Today's test runs</h1>
        <table>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>

            <tbody>
            <tr>
                <td>Today:</td>
                <td th:text="${numberOfTests}">500</td>
            </tr>
            <tr>
                <td>Last 24 hours:</td>
                <td th:text="${numberOfCompletedTests}">500</td>
            </tr>
            <tr>
                <td>Last Hour:</td>
                <td th:text="${numberOfCompletedTests}">500</td>
            </tr>
            <tr>
                <td>Last Week:</td>
                <td th:text="${numberOfCompletedTests}">500</td>
            </tr>
            <tr>
                <td>Since startup:</td>
                <td th:text="${numberOfCompletedTests}">500</td>
            </tr>
            </tbody>
        </table>
    </section>

</div>
</body>
</html>