<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title>Job</title>
</head>
<body>
<h1 layout:fragment="header">SVT job summary page</h1>
<div layout:fragment="content">

    <section>
		<h1>Today's testing</h1>
    </section>

	<table><tr><td>
	<table>
		<tbody>
			<tr><td>job Id</td><td th:text="${job.id}"></td></tr>
			<tr><td>job name</td><td><a th:href="${job.buildUrl} + 'api/json'" th:text="${job.name}"></a></td></tr>
			<tr><td>job Key</td><td th:text="${job.key}"></td></tr>
			<tr><td>host</td><td th:text="${job.host}"></td></tr>
			<tr><td>buildNumber</td><td th:text="${job.buildNumber}"></td></tr>
			<tr><td>jenkinsUrl</td><td th:text="${job.jenkinsUrl}"></td></tr>
			<tr><td>buildUrl</td><td th:text="${job.buildUrl}"></td></tr>
			<tr><td>job Key</td><td th:text="${job.key}"></td></tr>
			<tr><td>job result</td><td th:text="${job.jenkinsResult}"></td></tr>
			<tr><td>job duration</td><td th:text="${job.jenkinsDuration}"></td></tr>
		</tbody>
	</table>
	</td><td>
	<table>
		<tbody>
			<th:block th:each="checkin : ${job.checkins}">
			<tr>
				<td>job Id</td><td th:text="${checkin.author}"></td>
				<td>job Id</td><td th:text="${checkin.comment}"></td>
			</tr>
           </th:block>
		</tbody>
	</table>
	</td></tr></table>
</div>
</body>
</html>