<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title>Jobs</title>
    <script type="text/javascript" th:src="@{/script/jobs.js}"></script>
</head>
<body>
<h1 layout:fragment="header">SVT Test summary page</h1>
<div layout:fragment="content">
	<div id="meta">
		<input id="jobkey" type="hidden" th:value="${jobkey}"/>
	</div>
	
    <section>
		<h1>Today's testing</h1>
    </section>

	<section id="jobs-summary-section"></section>
</div>
</body>
</html>