<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title>Jobs</title>
</head>
<body>
<h1 layout:fragment="header">SVT Test summary page</h1>
<div layout:fragment="content">

    <section>
		<h1>Today's testing</h1>
    </section>

	<table>
           <colgroup class="groupHeader"><col/></colgroup>
           <colgroup class="numberOfRequirements"><col/><col/><col/><col/></colgroup>
           <colgroup class="date"><col/></colgroup>
           <colgroup class="time"><col/></colgroup>
           <tbody>
           <th>
               <td>requirements</td>
               <td>failed</td>
               <td>unstable</td>
               <td>duration</td>
               <td>touched</td>
           </th>
           <th:block th:each="job : ${jobs}">
               <tr >
               	<td class="rowheader">
               		<a th:href="'/job/' + ${job.id}" th:text="${job.name}"></a>
               	</td>
               	<td th:text="${job.key}"></td>
               </tr>
           </th:block>
	    </tbody>
       </table>
</div>
</body>
</html>