<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        >
<head>
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/columns.css}"/>
    <script type="text/javascript" th:src="@{/script/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/main.js}"></script>
    
    <!-- script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script -->
</head>
<body>
	<div id="errorpopup" class="error">Hello World</div>
	
    <div class="container">

        <div class="banner">
            <img id="logo" th:src="@{/img/logo.jpg}" style="float:left; padding-right: 20px;"/>
            [<a href="/">main</a>]
            [<a href="/api">API</a>]
            [<a href="/team/all">teams</a>]
            [<a href="/job/all">jobs</a>]
            [<a href="/statistics">statistics</a>]
            <span th:if="*{requirement}">[<a th:href="'/team/' + ${requirement.group.id}" th:text="${requirement.group.name}"></a>]</span>
        </div>

        <h1 layout:fragment="header">
			
        </h1>

        <hr/>

        <div layout:fragment="content">

        </div>

        <p class="footer">
            All Rights Reserved Miwashi Inc.
            [<a href="/">main</a>]
            [<a href="/api">API</a>]
            [<a href="/team/all">teams</a>]
            [<a href="/job/all">jobs</a>]
        </p>
    </div>
</body>
</html>