<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        >
<head>
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/columns.css}"/>
    <script type="text/javascript" th:src="@{/script/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/main.js}"></script>
    
    <!-- script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script -->
</head>
<body>
	<div id="errorpopup" class="error">Hello World</div>
	
    <div class="container">

        <div class="banner">
        	<table width="100%"><tr><td  width="100%">
            
            <img id="logo" th:src="@{/img/logo.png}" style="float:left; padding-right: 20px;"/>
            [<a href="/">main</a>]
            [<a href="/api">API</a>]
            [<a href="/team/all">teams</a>]
            [<a href="/job/all">jobs</a>]
            [<a href="/statistics">statistics</a>]
            <span th:if="*{requirement}">[<a th:href="'/team/' + ${requirement.group.id}" th:text="${requirement.group.name}"></a>]</span>
            <h1 layout:fragment="header"></h1>
            </td><td class="headerright">
            
            <table id="mainstat" class="mainstat">
			<colgroup class="rowheader"><col/></colgroup>
			<colgroup><col/></colgroup>
			<tr>
				<td id="mainstat_requirements_hdr" class="mainstat text">Total number of requirements</td>
				<td id="mainstat_requirements" class="mainstat numeric">Total number of requirements</td>
			</tr>
			<tr>
				<td id="mainstat_tested_hdr" class="mainstat text">Tested requirements</td>
				<td id="mainstat_tested" class="mainstat numeric">Tested requirements</td>
			</tr>
			<tr>
				<td id="mainstat_verified_hdr" class="mainstat text">Verified requirements</td>
				<td id="mainstat_verified" class="mainstat numeric">Verified requirements</td>
			</tr>
			<tr>
				<td id="mainstat_failed_hdr" class="mainstat text">Failed requirements</td>
				<td id="mainstat_failed" class="mainstat numeric">Failed requirements</td>
			</tr>
			<tr>
				<td id="mainstat_unstable_hdr" class="mainstat text">Unstable requirements</td>
				<td id="mainstat_unstable" class="mainstat numeric">Unstable requirements</td>
			</tr>
			<tr>
				<td id="mainstat_jobs_hdr" class="mainstat text">Jobs</td>
				<td id="mainstat_jobs" class="mainstat numeric">Jobs</td>
			</tr>
		</table>
            
            </td></tr>
            </table>
        </div>

        

        <hr/>

        <div layout:fragment="content">

        </div>

        <p class="footer">
            All Rights Reserved Miwashi Inc.
            [<a href="/">main</a>]
            [<a href="/api">API</a>]
            [<a href="/team/all">teams</a>]
            [<a href="/job/all">jobs</a>]
        </p>
    </div>
</body>
</html>