	<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title th:text="'Req: ' + ${summary.requirement.name}">Requirement summary page for</title>
         <script type="text/javascript" th:src="@{/script/requirement.js}"></script>
    </head>
    <body>
        <h1 class="header" layout:fragment="header" th:text="'Requirement summary page'">SVT Test summary page</h1>
		<div layout:fragment="content">
				<div id="meta">
					<input id="teamid" type="hidden" th:value="${summary.team.id}"/>
					<input id="groupid" type="hidden" th:value="${summary.group.id}"/>
					<input id="requirementid" type="hidden" th:value="${summary.requirement.id}"/>
				</div>
			<a th:href="'/team/' + ${summary.team.id}"  th:text="'Åter till ' + ${summary.team.name}"></a>
			<h4><i><span th:text="${summary.requirement.readableName}"></span></i><i><span th:text="${summary.requirement.parameter}"></span></i> </h4>
			<section id="requirement-summary-section">
				        
			</section>
		
		</div>
    </body>
</html>