<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title th:text="${title}">Index</title>
    </head>
    <body>
        <h1 layout:fragment="header" th:text="${title}">Index</h1>
        <div layout:fragment="content">

            <table border="1" align="left">
                <tr><th colspan="2">APP</th> </tr>
                <tr th:each="property : ${appProperties}">
                    <td th:text="${property.key}">1</td>
                    <td th:text="${property.value}">1</td>
                </tr>
            </table>

            <table border="1" color="grey">
                <tr><th colspan="1" align="left">Profiles</th> </tr>
                <tr th:each="profile : ${profiles}">
                    <td th:text="${profile.key}">1</td>
                    <td th:text="${profile.value}">1</td>
                </tr>
            </table>


            <table border="1" align="left">
                <tr><th colspan="2">Settings</th> </tr>
                <tr th:each="setting : ${settings}">
                    <td th:text="${setting.key}">1</td>
                    <td th:text="${setting.value}">1</td>
                </tr>
            </table>

            <table border="1" align="left">
                <tr><th colspan="2">ENV</th> </tr>
                <tr th:each="env : ${envs}">
                    <td th:text="${env.key}">1</td>
                    <td th:text="${env.value}">1</td>
                </tr>
            </table>



        </div>
    </body>
</html>