<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title th:text="'Test sumary for (' + ${subject.name} + ')'">Subject</title>
</head>
<body>
<h1 layout:fragment="header" th:text="'Test sumary for (' + ${subject.name} + ')'">SVT Test summary page</h1>
<div layout:fragment="content">

    <section>
		<h1>Today's testing</h1>
		<p>
			"<span th:text="${subject.name}"></span>" has <span th:text="${subject.numberOfRequirements}">5</span> requirements.
			Of these <span th:text="${subject.numberOfUnstableRequirements}">5</span> are unstable, 
			and <span th:text="${subject.numberOfFailedRequirements}">5</span> has failed.
		</p> 
		
		
        <table>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>

            <tbody>
            <th>
                <td>success</td>
                <td>failed</td>
                <td>unstable</td>
                <td>test run</td>
                <td>touched</td>
            </th>
            	
                <th:block th:each="requirement : ${subject.requirements}">
	                <tr >
	                	<td class="rowheader"><a th:href="'/requirement/' + ${requirement.id}" th:text="${requirement.readableName}"></a></td>
	                	<td th:text="${requirement.succeeded}"></td>
	                	<td th:text="${requirement.failed}"></td>
	                	<td th:text="${requirement.unstable} + ' (' + ${requirement.successRate} + '%)'"></td>
	                	<td th:text="${requirement.testsRun}"></td>
	                	<td th:class="${requirement.touchedDays>0}? 'warn' : 'ok'" th:text="${requirement.touched}"></td>
	                </tr>
	            </th:block>


            </tbody>

        </table>

    </section>

</div>
</body>
</html>