<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title th:text="'Test sumary for ' + ${team.name}">Teams</title>
    <script type="text/javascript" th:src="@{/script/team.js}"></script>
</head>
<body>
<h1 layout:fragment="header" th:text="'Test sumary for ' + ${team.name}">SVT Test summary page</h1>
<div layout:fragment="content">
	<div id="meta">
		<input id="teamid" type="hidden" th:value="${team.id}"/>
	</div>
    <section>
		<h1 th:text="'Todays testing for ' + ${team.name}">Today's testing</h1>
		
		<p>
		<strong>Number of requirements:</strong> <span th:text="${team.tested}">requirements</span><br/>
		<strong>Number of failed requirements:</strong> <span th:text="${team.numberOfFailedRequirements}">requirements</span><br/>
		<strong>Successratio:</strong> <span th:text="${team.numberOfSucceededRequirementsRatio}">requirements</span><br/>
		</p>
		
		<h2>Failed requirements</h2>
		<table>
            <tbody>
            <th><td>latest test</td><td>history</td><td>successratio</td><td>duration</td><td></td></th>
            <th:block th:each="requirement : ${requirements}">
                <tr th:class="${requirement.failed}?'failed_in_failed':'notfailed_in_failed'">
                	<td class="rowheader">
                		<a th:href="'/requirement/' + ${requirement.id}" th:text="${requirement.subject.name} + ${requirement.testRequirement}"></a>
                	</td>
					<td th:text="${requirement.notTestedSince}"></td>
                	<td class="testlights">
                		<table class="testlights"><tr class="testlights">
                		<th:block th:each="light : ${requirement.testLights}">
                		<td th:class="${light==null}?'missing': (${light}?'verified':'failed') "></td>
                		</th:block>
                		</tr></table>
                	</td>
                	<td th:text="${requirement.failRate} + '%'"></td>
                	<td th:text="${requirement.duration}"></td>
                </tr>
            </th:block>
		    </tbody>
        </table>
        
        <h2>Unstable requirements</h2>
		<table>
            <tbody>
            <th><td>latest test</td><td>history</td><td>successratio</td><td>duration</td><td></td></th>
            <th:block th:each="requirement : ${requirements}">
                <tr th:class="${requirement.unstable}?'unstable_in_unstable':'notunstable_in_unstable'">
                	<td class="rowheader">
                		<a th:href="'/requirement/' + ${requirement.id}" th:text="${requirement.subject.name} + ${requirement.testRequirement}"></a>
                	</td>
                	<td th:text="${requirement.notTestedSince}"></td>
                	<td class="testlights">
                		<table class="testlights"><tr class="testlights">
                		<th:block th:each="light : ${requirement.testLights}">
                		<td th:class="${light==null}?'missing': (${light}?'verified':'failed') "></td>
                		</th:block>
                		</tr></table>
                	</td>
                	<td th:text="${requirement.failRate} + '%'"></td>
                	<td th:text="${requirement.duration}"></td>
                </tr>
            </th:block>
		    </tbody>
        </table>
        
        <h2>Verified requirements</h2>
		<table>
            <tbody>
            <th><td>latest test</td><td>history</td><td>successratio</td><td>duration</td><td></td></th>
            <th:block th:each="requirement : ${requirements}">
                <tr th:class="${requirement.success}?'succeeded_in_succeeded':'notsucceeded_in_succeeded'">
                	<td class="rowheader">
                		<a th:href="'/requirement/' + ${requirement.id}" th:text="${requirement.subject.name} + ${requirement.testRequirement}"></a>
                	</td>
                	<td th:text="${requirement.notTestedSince}"></td>
                	<td class="testlights">
                		<table class="testlights"><tr class="testlights">
                		<th:block th:each="light : ${requirement.testLights}">
                		<td th:class="${light==null}?'missing': (${light}?'verified':'failed') "></td>
                		</th:block>
                		</tr></table>
                	</td>
                	<td th:text="${requirement.failRate} + '%'"></td>
                	<td th:text="${requirement.duration}"></td>
                	
                </tr>
            </th:block>
		    </tbody>
        </table>
        
     </section>
</div>
</body>
</html>