<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title>Teams</title>
</head>
<body>
<h1 layout:fragment="header">SVT Test summary page</h1>
<div layout:fragment="content">

    <section>
		<h1>Today's testing</h1>
		<th:block th:each="topteam : ${topteams}">
		<h2 th:text="'Team: ' + ${topteam}"></h2>
        <table>
        	<colgroup class="groupHeader"><col/></colgroup>
            <colgroup class="numberOfRequirements"><col/><col/><col/></colgroup>
            <colgroup class="date"><col/></colgroup>
            <colgroup class="time"><col/></colgroup>
            
            <thead>
	            <th>
	                <td>Requirements</td>
	                <td>failed</td>
	                <td>unstable</td>
	                <td>touched</td>
	            </th>
            </thead>
	        
	        <tbody>
	            <th:block th:each="team : ${teams}">
	                <tr th:if="${team.topName == topteam}">
	                    <td class="rowHeader"><a th:href="'/team/' + ${team.id}" th:text="${team.name}"></a></td>
	                    <td class="numberOfRequirements" th:text="${team.tested}"></td>
	                    <td class="numberOfRequirements" th:text="${team.failsRelative}"></td>
	                    <td class="numberOfRequirements" th:text="${team.unstableRelative}"></td>
	                    <td th:class="${team.touchedDays>0}? 'warn' : 'ok'" th:text="${team.touched}"></td>
	                </tr>
	                
	            </th:block>
            </tbody>

        </table>
		</th:block>
    </section>

</div>
</body>
</html>