<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title>Teams</title>
    <script type="text/javascript" th:src="@{/script/teams.js}"></script>
</head>
<body>
<h1 layout:fragment="header">SVT Test summary page</h1>
<div layout:fragment="content">

    <section>
		<h1>Today's testing</h1>
		<th:block th:each="topteam : ${topteams}">
		<h2 th:text="'Team: ' + ${topteam}"></h2>
        <table th:id="${topteam} + -table">
        	<colgroup class="groupHeader"><col/></colgroup>
            <colgroup class="numberOfRequirements"><col/><col/><col/></colgroup>
            <colgroup class="date"><col/></colgroup>
            <colgroup class="time"><col/></colgroup>
            
            <thead>
	            <th>
	                <td class="numeric">Requirements</td>
	                <td class="numeric">failed</td>
	                <td class="numeric">unstable</td>
	                <td class="numeric">touched</td>
	            </th>
            </thead>
	        
	        <tbody>
	            <th:block th:each="team : ${teams}">
	                <tr th:id="'team-' + ${team.id} + '-row'" th:if="${team.topName == topteam}">
	                    <td width="100%" class="rowHeader"><a th:href="'/team/' + ${team.id}" th:text="${team.name}"></a></td>
	                    <td th:id="'team-' + ${team.id} + '-tested'" class="numberOfRequirements numeric" th:text="${team.tested}"></td>
	                    <td th:id="'team-' + ${team.id} + '-fails'" class="numberOfRequirements numeric" th:text="${team.failsRelative}"></td>
	                    <td th:id="'team-' + ${team.id} + '-unstable'" class="numberOfRequirements numeric" th:text="${team.unstableRelative}"></td>
	                    <td th:id="'team-' + ${team.id} + '-lastrun'" th:class="${team.touchedDays>0}? 'warn' : 'ok'" th:text="${team.touched} + ' numeric'"></td>
	                </tr>
	                
	            </th:block>
            </tbody>

        </table>
		</th:block>
    </section>

</div>
</body>
</html>