<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        >
<head>
    <title th:text="'Test sumary for ' + ${team.name}">Teams</title>
</head>
<body>
<h1 layout:fragment="header" th:text="'Test sumary for ' + ${team.name}">SVT Test summary page</h1>
<div layout:fragment="content">

    <section>
		<h1>Today's testing</h1>
		
		<div class="subjectsarea">
			<th:block th:each="subject : ${unstable}">
				<div class="subjectbox">
					<span th:text="${subject.name}"></span>
				</div>
			</th:block>
		</div>
		
        <table>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>
            <colgroup><col/><col/><col/></colgroup>

            <tbody>
            <th>
                <td>requirements</td>
                <td>failed requirements</td>
                <td>unstable requirements</td>
                <td>last tested</td>
            </th>
            <th:block th:each="subject : ${team.subjects}">
                <tr >
                	<td class="rowheader">
                		<a th:href="'/subject/' + ${subject.id}" th:text="${subject.name}"></a>
                	</td>
                	<td th:text="${subject.numberOfRequirements}"></td>
                	<td th:text="${subject.numberOfFailedRequirements}"></td>
                	<td th:text="${subject.numberOfUnstableRequirements}"></td>
                	<td th:text="${subject.lastTested}"></td>
                </tr>
            </th:block>

			

            </tbody>

        </table>
		
    </section>

</div>
</body>
</html>