<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1 layout:fragment="header">Index</h1>
        <div layout:fragment="content">
            <div>
                <p>1. Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                    Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                    Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                </p>
            </div>
            <div>
                <p>"2. Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                    Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                    Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva Whateva
                </p>
            </div>
        </div>
    </body>
</html>